{% extends 'layout.html.twig' %}

{% block content %}
    <h1>listado de locales</h1>
    <p>  <a href="{{ path('nuevo_local')}}" class="btn btn-info"><i class="fa fa-plus"></i>Agregar locales</a></p>
    <table class="table table-bordered  table-striped table-hover">
        <thead>
        <tr>
            <th class="col-sm-2">planta</th>
            <th class="col-sm-2">nombre</th>
            <th class="col-sm-1"> </th>
        </tr>
        </thead>
        <tbody>
        {% for local in locales %}
            <tr>
                <td>{{ local.planta }}</td>
                <td>{{ local.nombre }}</td>
                <td>
                    <a href="{{ path('modificar_local',{'id':local.id}) }}" class="btn btn-xs btn-info" title="Modificar"><i class="fa fa-pencil"></i> </a>
                    <a href="{{ path('borrar_local',{'id':local.id}) }}" class="btn btn-xs btn-danger" title="Modificar"><i class="fa fa-trash"></i> </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}